:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --ligh-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --white: hsla(0, 0%, 100%, 1);
    --antiflash-white: hsla(220, 18%, 97%, 1);
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100%;
    font-family: Bai Jamjuree;
    font-size: 1.125rem;
}

main {
    display: flex;
    margin: 0 auto;
    flex-direction: column; 
    align-items: center;   
    max-width: 23.43rem;
}

.wrapper {
    margin: 0 auto;
    overflow: hidden;
    max-width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {   
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 7.812rem 0 0;
    background-image: url("images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: hidden;
    background-position: center;
}


.header-logo {
    display:block;
    margin:auto;
}

img.header-logo {
    height: auto;
}

.copy-history p{
    margin: 1rem;
    text-align: center;
}

.button-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    padding: 3.5rem 0 10rem 0;
    width: 100%;
}

.download-for-ios, .download-for-mac {
    border-radius: 2rem;
    font-size: 1.125rem;
    border: none;
    color:var(--white);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.4rem 0.6rem;
    transition-duration: 0.4s;
    cursor: pointer;
}

.download-for-ios {
    background-color: var(--strong-cyan); 
    box-shadow: 2px 2px 8px hsl(177deg 100% 29.41%);
    font-weight:400; 
    padding:1rem 2rem; 
}
      
.download-for-mac {
    background-color: var(--ligh-blue);
    box-shadow: 2px 2px 8px hsl(233deg 67.39% 37.38%);
}

.clipboard-history {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.copy-history {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

p.text-available-gadgets {
    text-align: center;
    max-width: 90%;
}

h1 {
    text-align: center;
    margin-bottom: 0;
    font-weight: 600;
    padding: 0 3rem;
}

h2 {
    text-align: center;
    margin: 0;
    max-width: 90%;
}

h3  {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.keep-trak {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
}

p.text-keep-trak {
    text-align: center;
    margin: 1rem 1rem 10rem;
}

img.image-computer {
    padding: 0 3rem;
    max-width: 80%;
} 

.wrapper-possibilities {
    text-align: center;
}

.quick-search .icloud-sync .complete-history {
    text-align: center;
}

.keep-possibilities {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.access-clipboard {
    margin-top: 10rem;
}

.access-clipboard h2{
    max-width: 90%;
}

p.text-access-clipboard {
    text-align: center;
}

.supercharge {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 7.5rem 2rem;
}

.supercharge-workflow {
    margin-bottom: 2rem;
}

.image-devices {
    display: block;
    align-items: center;
}

img.image-devices {
    max-width: 100%;
    margin: 1rem;
    height: auto;
}

.create-blacklists, .plain-snippets, .sneak-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-blacklists h3, .plain-snippets h3, .sneak-preview h3 {
    margin-bottom: 0;
}

.partners {
    margin-bottom: 6rem;
}

.logo-partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

footer {
    background-color: var(--antiflash-white);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.footer-logo {
    width: 30%;
    margin: 3.5rem;
    height: auto;
}

.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.about-us  a {
    display: inline-block;
    text-decoration: none;
    color: var(--dark-grayish-blue);
    width: 100%;
    text-align: center;
}

footer .about-us a:hover {
    cursor: pointer; 
    color: var(--strong-cyan);
    transition: all .1s ease-in-out;
}
   
.ours-social-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 2rem 3rem;
    gap: 3rem;
}
 
.ours-social-links a img:hover {
    background: var(--strong-cyan) ;
    transition: all .1s ease-in-out;
}
  
.attribution {
    display: flex;
    align-items: center;
    font-size: 11px; text-align: center;
}

.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (min-width: 90rem) {
    main {
        margin: 0 auto;   
        overflow: hidden;
        max-width: 90rem;
    }

    header {
     display: flex;
     flex-direction: column; 
     align-items: center;
     text-align: center;
     background-image: url("images/bg-header-desktop.png"); 
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-width: 100%;
    }

    img.header-logo {
        height: auto;
        margin-bottom: 3.44rem;
    }

    .clipboard-history {
        margin-top: 0;
    }
    
    .copy-history p{
        margin-bottom: 1rem;
    }

    .access-history {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    .copy-history p{
        max-width: 60%;
    }

    .button-box {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .download-for-ios{
        max-width: 50%;
    } 
    
    .download-for-mac {
        max-width: 50%;
    }

    .keep-trak {
        margin-top: 0;
    }
    
    p.text-keep-trak {
        margin: 2rem 10rem 0;
        max-width: 60%;
    }
   
    p.text-access-clipboard {
        max-width: 80%;
        text-align: center;
    }

    p.text-supercharge-workflow {
        text-align: center;
    }

    .keep-possibilities {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 4.5rem;
    }

    .keep-trak {
        min-width: 75%;
    }

    img.image-computer {
        max-width: 50%;
        height: auto;
        float: left;
       padding: 1rem 0;
    }
    
    .wrapper-possibilities {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding:0 0 0 3.5rem
    }

    .access-clipboard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quick-search h3, .icloud-sync h3, .complete-history h3{
        margin: 0;
        text-align: left;
    }

    .icloud-sync {
        margin: 3rem 0;
    }

    .quick-search p, .icloud-sync p, .complete-history p {
        text-align: left;
        margin:  0; 
        padding: 0;
    }

    .supercharge {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin-bottom: 10rem;
    }
    
    .supercharge-workflow {
        justify-content: center;
        align-items: center;
        margin-top: -5rem;
    }

    .supercharge-workflow h2 {
        min-width: 100%;
    }
        

    .wrapper-supercharge {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: inherit;
    }

    img.image-devices {
        margin-bottom: 3rem;
    }

    .create-blacklists, .plain-snippets, .sneak-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p.text-create-blacklists, p.text-plain-snippets, p.text-sneak-preview {
        padding: 0;
        text-align: center;
    }


    .partners {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10rem;
    }

    .logo-partners {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 7rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr ;
        align-items: baseline;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 0 10rem;
    }
   
    .footer-logo {
        width: 30%;
        margin: 2.5rem 0 2.5rem 5rem;
    }

    img.footer-logo {
        margin: 0;
        align-items: flex-end;
    }

    .about-us {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-weight: 600;  
        width: 90%;
        margin: 2rem;
        gap: 2rem;
    }

    p.about-us{
        margin-bottom: 0;
    }

    .ours-social-links{
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
    }
   
    .ours-social-links a{
        text-decoration: none;
        padding: 5px;
        border-radius: 50%;
        font-size: 1.1rem;
        transition: color .4s ease;
    }

    .ours-social-links a:hover{
        color: aqua;
    }
}